In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/source_data.csv")
df.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [3]:
df.columns

Index(['Entity', 'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [4]:
df.rename({
    'Entity': 'country', 
    'Year': 'year',
    'Access to electricity (% of population)':'access_to_electricity',
    'Access to clean fuels for cooking': 'access_to_clean_fuels_for_cooking',
    'Renewable-electricity-generating-capacity-per-capita': 'installed_renewable_energy_capacity_per_person',
    'Financial flows to developing countries (US $)': 'financial_flows_to_developing_countries',
    'Renewable energy share in the total final energy consumption (%)': 'renewable_energy_consumption_percentage',
    'Electricity from fossil fuels (TWh)': 'electricity_from_fuels',
    'Electricity from nuclear (TWh)': 'electricity_from_nuclear',
    'Electricity from renewables (TWh)': 'electricity_from_renewables',
    'Low-carbon electricity (% electricity)': 'low_carbon_electricity_percentage',
    'Primary energy consumption per capita (kWh/person)': 'energy_consumption_per_person',
    'Energy intensity level of primary energy (MJ/$2017 PPP GDP)': 'energy_intensity',
    'Value_co2_emissions_kt_by_country': 'co2_emissions_per_person',
    'Renewables (% equivalent primary energy)': 'renewables_percentage',
    'gdp_growth': 'gdp_growth',
    'gdp_per_capita': 'gdp_per_capita',
    'Density\\n(P/Km2)': 'population_density',
    'Land Area(Km2)': 'land_area',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
}, axis=1, inplace=True)

In [5]:
df.head()

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,installed_renewable_energy_capacity_per_person,financial_flows_to_developing_countries,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,...,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,renewables_percentage,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [6]:
df.isna().sum()

country                                              0
year                                                 0
access_to_electricity                               10
access_to_clean_fuels_for_cooking                  169
installed_renewable_energy_capacity_per_person     931
financial_flows_to_developing_countries           2089
renewable_energy_consumption_percentage            194
electricity_from_fuels                              21
electricity_from_nuclear                           126
electricity_from_renewables                         21
low_carbon_electricity_percentage                   42
energy_consumption_per_person                        0
energy_intensity                                   207
co2_emissions_per_person                           428
renewables_percentage                             2137
gdp_growth                                         317
gdp_per_capita                                     282
population_density                                   1
land_area                                            1
latitude                                             1
longitude                                            1
dtype: int64

In [7]:
# Remove columns with high number missing values

df.drop(columns=[
    'financial_flows_to_developing_countries',
    'renewables_percentage',
    'installed_renewable_energy_capacity_per_person'
], inplace=True)

In [8]:
# Since the missing values in the access_to_electricity column likely correspond to a lack of data from the early 2000s, we will simply replace the null values with zeros.

df["access_to_electricity"] = df["access_to_electricity"].fillna(0)

In [9]:
# Since the missing values occur in the early years for the country French Guiana, 
# and the columns represent attributes that change little or not at all (e.g., latitude and longitude), 
# we can use forward fill (ffill) to propagate the last valid observation to the subsequent missing entries.

df["population_density"] = df["population_density"].ffill()
df["land_area"] = df["land_area"].ffill()
df["latitude"] = df["latitude"].ffill()
df["longitude"] = df["longitude"].ffill()

In [10]:
# Since the missing values are spread across various countries and years, we can apply backfilling to populate the missing entries.

df["access_to_clean_fuels_for_cooking"] = df["access_to_clean_fuels_for_cooking"].bfill()
df["renewable_energy_consumption_percentage"] = df["renewable_energy_consumption_percentage"].bfill()
df["energy_intensity"] = df["energy_intensity"].bfill()
df["co2_emissions_per_person"] = df["co2_emissions_per_person"].bfill()
df["gdp_growth"] = df["gdp_growth"].bfill()
df["gdp_per_capita"] = df["gdp_per_capita"].bfill()

In [11]:
df[df["low_carbon_electricity_percentage"].isnull()]

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,low_carbon_electricity_percentage,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
399,Bermuda,2000,100.000000,27.80,0.46,0.0,0.0,0.0,NaN,39297.880,1.52,517.047,9.317156,56284.168650,1281,54.0,32.299507,-64.790337
400,Bermuda,2001,100.000000,27.80,0.54,0.0,0.0,0.0,NaN,39604.938,1.45,528.048,7.222436,58883.959430,1281,54.0,32.299507,-64.790337
401,Bermuda,2002,100.000000,27.80,0.51,0.0,0.0,0.0,NaN,41429.880,1.54,557.384,-1.477791,62583.100200,1281,54.0,32.299507,-64.790337
402,Bermuda,2003,100.000000,27.80,0.51,0.0,0.0,0.0,NaN,41114.773,1.50,561.051,3.410707,66111.725230,1281,54.0,32.299507,-64.790337
403,Bermuda,2004,100.000000,27.80,0.52,0.0,0.0,0.0,NaN,42390.040,1.51,583.053,2.321267,70359.319110,1281,54.0,32.299507,-64.790337
404,Bermuda,2005,100.000000,27.80,0.49,0.0,0.0,0.0,NaN,44480.980,1.48,583.053,1.674206,75882.033860,1281,54.0,32.299507,-64.790337
405,Bermuda,2006,100.000000,27.80,0.44,0.0,0.0,0.0,NaN,50145.137,1.56,652.726,5.543866,95221.858870,1281,54.0,32.299507,-64.790337
406,Bermuda,2007,100.000000,27.80,0.50,0.0,0.0,0.0,NaN,58163.746,1.67,729.733,3.345140,104287.387500,1281,54.0,32.299507,-64.790337
407,Bermuda,2008,100.000000,27.80,0.46,0.0,0.0,0.0,NaN,55556.035,1.51,649.059,-1.865956,106935.486300,1281,54.0,32.299507,-64.790337
408,Bermuda,2009,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,43647.020,1.21,476.710,-5.626698,101407.764000,1281,54.0,32.299507,-64.790337
409,Bermuda,2010,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,51318.156,1.54,608.722,-2.502878,101875.284100,1281,54.0,32.299507,-64.790337
410,Bermuda,2011,100.000000,27.80,0.42,0.0,0.0,0.0,NaN,33119.836,1.20,443.707,-3.742744,97774.162070,1281,54.0,32.299507,-64.790337
411,Bermuda,2012,100.000000,27.80,0.44,0.0,0.0,0.0,NaN,35803.332,1.08,366.700,-5.305299,98431.865180,1281,54.0,32.299507,-64.790337
412,Bermuda,2013,100.000000,27.80,1.47,0.0,0.0,0.0,NaN,35994.320,1.52,509.713,-0.279709,99471.638900,1281,54.0,32.299507,-64.790337
413,Bermuda,2014,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,46727.742,1.95,649.059,-3.701068,98467.683990,1281,54.0,32.299507,-64.790337
414,Bermuda,2015,100.000000,27.80,0.55,0.0,0.0,0.0,NaN,39425.170,1.59,557.384,0.775530,102005.625600,1281,54.0,32.299507,-64.790337
415,Bermuda,2016,100.000000,27.80,1.09,0.0,0.0,0.0,NaN,50238.902,1.83,612.389,-0.657206,106885.878500,1281,54.0,32.299507,-64.790337
416,Bermuda,2017,100.000000,27.80,0.64,0.0,0.0,0.0,NaN,49395.460,1.77,210.000,3.611420,111820.581500,1281,54.0,32.299507,-64.790337
417,Bermuda,2018,100.000000,27.80,0.67,0.0,0.0,0.0,NaN,50863.380,1.97,210.000,-0.432801,113023.185600,1281,54.0,32.299507,-64.790337
418,Bermuda,2019,100.000000,27.80,0.84,0.0,0.0,0.0,NaN,50639.293,1.65,210.000,0.459890,117098.446300,1281,54.0,32.299507,-64.790337
419,Bermuda,2020,100.000000,27.80,91.40,0.0,0.0,0.0,NaN,46161.586,18.42,210.000,-6.344080,107079.479800,1281,54.0,32.299507,-64.790337
3397,Tuvalu,2000,94.630680,16.10,0.00,NaN,NaN,NaN,NaN,0.000,3.46,10.000,-0.970600,1463.166211,393,26.0,-7.109535,177.649330
3398,Tuvalu,2001,94.835820,17.75,0.00,NaN,NaN,NaN,NaN,0.000,4.19,10.000,1.634108,1392.334348,393,26.0,-7.109535,177.649330
3399,Tuvalu,2002,94.629780,19.80,0.00,NaN,NaN,NaN,NaN,0.000,3.64,10.000,7.886174,1610.653001,393,26.0,-7.109535,177.649330
3400,Tuvalu,2003,95.225716,22.40,0.00,NaN,NaN,NaN,NaN,0.000,3.51,10.000,-3.333537,1874.853819,393,26.0,-7.109535,177.649330
3401,Tuvalu,2004,95.415160,25.30,0.00,NaN,NaN,NaN,NaN,0.000,3.44,10.000,-1.352181,2181.636269,393,26.0,-7.109535,177.649330
3402,Tuvalu,2005,95.604070,28.20,0.00,NaN,NaN,NaN,NaN,0.000,3.57,10.000,-3.779730,2184.565259,393,26.0,-7.109535,177.649330
3403,Tuvalu,2006,95.794846,31.40,0.00,NaN,NaN,NaN,NaN,0.000,4.67,10.000,2.138938,2263.575948,393,26.0,-7.109535,177.649330
3404,Tuvalu,2007,96.700000,35.80,0.00,NaN,NaN,NaN,NaN,0.000,5.23,10.000,6.350565,2645.109505,393,26.0,-7.109535,177.649330
3405,Tuvalu,2008,96.192680,40.90,0.00,NaN,NaN,NaN,NaN,0.000,3.50,10.000,7.983261,2936.521547,393,26.0,-7.109535,177.649330
3406,Tuvalu,2009,96.405150,44.65,0.00,NaN,NaN,NaN,NaN,0.000,4.13,10.000,-4.432851,2602.619444,393,26.0,-7.109535,177.649330
3407,Tuvalu,2010,96.630270,48.55,0.26,NaN,NaN,NaN,NaN,0.000,3.88,10.000,-2.729428,3024.761774,393,26.0,-7.109535,177.649330
3408,Tuvalu,2011,96.870750,52.90,0.26,NaN,NaN,NaN,NaN,0.000,3.84,10.000,7.515954,3643.121608,393,26.0,-7.109535,177.649330
3409,Tuvalu,2012,97.671776,56.60,0.31,NaN,NaN,NaN,NaN,0.000,3.75,10.000,-3.835749,3506.308144,393,26.0,-7.109535,177.649330
3410,Tuvalu,2013,97.407680,59.50,0.83,NaN,NaN,NaN,NaN,0.000,3.26,10.000,4.576824,3457.376266,393,26.0,-7.109535,177.649330
3411,Tuvalu,2014,97.703860,62.40,0.80,NaN,NaN,NaN,NaN,0.000,3.10,10.000,1.348013,3398.396750,393,26.0,-7.109535,177.649330
3412,Tuvalu,2015,98.014885,64.20,3.88,NaN,NaN,NaN,NaN,0.000,2.64,10.000,9.142894,3197.772252,393,26.0,-7.109535,177.649330
3413,Tuvalu,2016,97.300000,65.50,9.46,NaN,NaN,NaN,NaN,0.000,2.56,10.000,3.034723,3253.899536,393,26.0,-7.109535,177.649330
3414,Tuvalu,2017,98.853836,67.55,8.74,NaN,NaN,NaN,NaN,0.000,2.55,10.000,4.094018,3574.065288,393,26.0,-7.109535,177.649330
3415,Tuvalu,2018,99.065384,68.90,8.32,NaN,NaN,NaN,NaN,0.000,2.86,10.000,2.500000,3701.709255,393,26.0,-7.109535,177.649330
3416,Tuvalu,2019,99.700000,69.80,8.20,NaN,NaN,NaN,NaN,0.000,2.61,10.000,9.756098,4055.895610,393,26.0,-7.109535,177.649330
3417,Tuvalu,2020,99.689230,70.60,95.01,NaN,NaN,NaN,NaN,0.000,13.37,1300.000,4.400000,4143.109753,393,26.0,-7.109535,177.649330

In [12]:
# Since the null values in the electricity_from_renewables column correspond to only Tuvalu and Bermuda, 
# we can interpret this as the country not generating electricity from renewables 
# but relying on other energy sources. 
# or there is no data from the country
# So, we leave it as NULL

df[df["low_carbon_electricity_percentage"].isnull()]

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,low_carbon_electricity_percentage,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
399,Bermuda,2000,100.000000,27.80,0.46,0.0,0.0,0.0,NaN,39297.880,1.52,517.047,9.317156,56284.168650,1281,54.0,32.299507,-64.790337
400,Bermuda,2001,100.000000,27.80,0.54,0.0,0.0,0.0,NaN,39604.938,1.45,528.048,7.222436,58883.959430,1281,54.0,32.299507,-64.790337
401,Bermuda,2002,100.000000,27.80,0.51,0.0,0.0,0.0,NaN,41429.880,1.54,557.384,-1.477791,62583.100200,1281,54.0,32.299507,-64.790337
402,Bermuda,2003,100.000000,27.80,0.51,0.0,0.0,0.0,NaN,41114.773,1.50,561.051,3.410707,66111.725230,1281,54.0,32.299507,-64.790337
403,Bermuda,2004,100.000000,27.80,0.52,0.0,0.0,0.0,NaN,42390.040,1.51,583.053,2.321267,70359.319110,1281,54.0,32.299507,-64.790337
404,Bermuda,2005,100.000000,27.80,0.49,0.0,0.0,0.0,NaN,44480.980,1.48,583.053,1.674206,75882.033860,1281,54.0,32.299507,-64.790337
405,Bermuda,2006,100.000000,27.80,0.44,0.0,0.0,0.0,NaN,50145.137,1.56,652.726,5.543866,95221.858870,1281,54.0,32.299507,-64.790337
406,Bermuda,2007,100.000000,27.80,0.50,0.0,0.0,0.0,NaN,58163.746,1.67,729.733,3.345140,104287.387500,1281,54.0,32.299507,-64.790337
407,Bermuda,2008,100.000000,27.80,0.46,0.0,0.0,0.0,NaN,55556.035,1.51,649.059,-1.865956,106935.486300,1281,54.0,32.299507,-64.790337
408,Bermuda,2009,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,43647.020,1.21,476.710,-5.626698,101407.764000,1281,54.0,32.299507,-64.790337
409,Bermuda,2010,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,51318.156,1.54,608.722,-2.502878,101875.284100,1281,54.0,32.299507,-64.790337
410,Bermuda,2011,100.000000,27.80,0.42,0.0,0.0,0.0,NaN,33119.836,1.20,443.707,-3.742744,97774.162070,1281,54.0,32.299507,-64.790337
411,Bermuda,2012,100.000000,27.80,0.44,0.0,0.0,0.0,NaN,35803.332,1.08,366.700,-5.305299,98431.865180,1281,54.0,32.299507,-64.790337
412,Bermuda,2013,100.000000,27.80,1.47,0.0,0.0,0.0,NaN,35994.320,1.52,509.713,-0.279709,99471.638900,1281,54.0,32.299507,-64.790337
413,Bermuda,2014,100.000000,27.80,0.43,0.0,0.0,0.0,NaN,46727.742,1.95,649.059,-3.701068,98467.683990,1281,54.0,32.299507,-64.790337
414,Bermuda,2015,100.000000,27.80,0.55,0.0,0.0,0.0,NaN,39425.170,1.59,557.384,0.775530,102005.625600,1281,54.0,32.299507,-64.790337
415,Bermuda,2016,100.000000,27.80,1.09,0.0,0.0,0.0,NaN,50238.902,1.83,612.389,-0.657206,106885.878500,1281,54.0,32.299507,-64.790337
416,Bermuda,2017,100.000000,27.80,0.64,0.0,0.0,0.0,NaN,49395.460,1.77,210.000,3.611420,111820.581500,1281,54.0,32.299507,-64.790337
417,Bermuda,2018,100.000000,27.80,0.67,0.0,0.0,0.0,NaN,50863.380,1.97,210.000,-0.432801,113023.185600,1281,54.0,32.299507,-64.790337
418,Bermuda,2019,100.000000,27.80,0.84,0.0,0.0,0.0,NaN,50639.293,1.65,210.000,0.459890,117098.446300,1281,54.0,32.299507,-64.790337
419,Bermuda,2020,100.000000,27.80,91.40,0.0,0.0,0.0,NaN,46161.586,18.42,210.000,-6.344080,107079.479800,1281,54.0,32.299507,-64.790337
3397,Tuvalu,2000,94.630680,16.10,0.00,NaN,NaN,NaN,NaN,0.000,3.46,10.000,-0.970600,1463.166211,393,26.0,-7.109535,177.649330
3398,Tuvalu,2001,94.835820,17.75,0.00,NaN,NaN,NaN,NaN,0.000,4.19,10.000,1.634108,1392.334348,393,26.0,-7.109535,177.649330
3399,Tuvalu,2002,94.629780,19.80,0.00,NaN,NaN,NaN,NaN,0.000,3.64,10.000,7.886174,1610.653001,393,26.0,-7.109535,177.649330
3400,Tuvalu,2003,95.225716,22.40,0.00,NaN,NaN,NaN,NaN,0.000,3.51,10.000,-3.333537,1874.853819,393,26.0,-7.109535,177.649330
3401,Tuvalu,2004,95.415160,25.30,0.00,NaN,NaN,NaN,NaN,0.000,3.44,10.000,-1.352181,2181.636269,393,26.0,-7.109535,177.649330
3402,Tuvalu,2005,95.604070,28.20,0.00,NaN,NaN,NaN,NaN,0.000,3.57,10.000,-3.779730,2184.565259,393,26.0,-7.109535,177.649330
3403,Tuvalu,2006,95.794846,31.40,0.00,NaN,NaN,NaN,NaN,0.000,4.67,10.000,2.138938,2263.575948,393,26.0,-7.109535,177.649330
3404,Tuvalu,2007,96.700000,35.80,0.00,NaN,NaN,NaN,NaN,0.000,5.23,10.000,6.350565,2645.109505,393,26.0,-7.109535,177.649330
3405,Tuvalu,2008,96.192680,40.90,0.00,NaN,NaN,NaN,NaN,0.000,3.50,10.000,7.983261,2936.521547,393,26.0,-7.109535,177.649330
3406,Tuvalu,2009,96.405150,44.65,0.00,NaN,NaN,NaN,NaN,0.000,4.13,10.000,-4.432851,2602.619444,393,26.0,-7.109535,177.649330
3407,Tuvalu,2010,96.630270,48.55,0.26,NaN,NaN,NaN,NaN,0.000,3.88,10.000,-2.729428,3024.761774,393,26.0,-7.109535,177.649330
3408,Tuvalu,2011,96.870750,52.90,0.26,NaN,NaN,NaN,NaN,0.000,3.84,10.000,7.515954,3643.121608,393,26.0,-7.109535,177.649330
3409,Tuvalu,2012,97.671776,56.60,0.31,NaN,NaN,NaN,NaN,0.000,3.75,10.000,-3.835749,3506.308144,393,26.0,-7.109535,177.649330
3410,Tuvalu,2013,97.407680,59.50,0.83,NaN,NaN,NaN,NaN,0.000,3.26,10.000,4.576824,3457.376266,393,26.0,-7.109535,177.649330
3411,Tuvalu,2014,97.703860,62.40,0.80,NaN,NaN,NaN,NaN,0.000,3.10,10.000,1.348013,3398.396750,393,26.0,-7.109535,177.649330
3412,Tuvalu,2015,98.014885,64.20,3.88,NaN,NaN,NaN,NaN,0.000,2.64,10.000,9.142894,3197.772252,393,26.0,-7.109535,177.649330
3413,Tuvalu,2016,97.300000,65.50,9.46,NaN,NaN,NaN,NaN,0.000,2.56,10.000,3.034723,3253.899536,393,26.0,-7.109535,177.649330
3414,Tuvalu,2017,98.853836,67.55,8.74,NaN,NaN,NaN,NaN,0.000,2.55,10.000,4.094018,3574.065288,393,26.0,-7.109535,177.649330
3415,Tuvalu,2018,99.065384,68.90,8.32,NaN,NaN,NaN,NaN,0.000,2.86,10.000,2.500000,3701.709255,393,26.0,-7.109535,177.649330
3416,Tuvalu,2019,99.700000,69.80,8.20,NaN,NaN,NaN,NaN,0.000,2.61,10.000,9.756098,4055.895610,393,26.0,-7.109535,177.649330
3417,Tuvalu,2020,99.689230,70.60,95.01,NaN,NaN,NaN,NaN,0.000,13.37,1300.000,4.400000,4143.109753,393,26.0,-7.109535,177.649330

In [13]:
# Since the null values in the electricity_from_renewables column correspond to only Tuvalu, 
# we can interpret this as the country not generating electricity from renewables 
# but relying on other energy sources. 
# or there is no data from the country
# So, we leave it as NULL

df[df["electricity_from_renewables"].isnull()]

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,low_carbon_electricity_percentage,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
3397,Tuvalu,2000,94.630680,16.10,0.00,NaN,NaN,NaN,NaN,0.0,3.46,10.0,-0.970600,1463.166211,393,26.0,-7.109535,177.64933
3398,Tuvalu,2001,94.835820,17.75,0.00,NaN,NaN,NaN,NaN,0.0,4.19,10.0,1.634108,1392.334348,393,26.0,-7.109535,177.64933
3399,Tuvalu,2002,94.629780,19.80,0.00,NaN,NaN,NaN,NaN,0.0,3.64,10.0,7.886174,1610.653001,393,26.0,-7.109535,177.64933
3400,Tuvalu,2003,95.225716,22.40,0.00,NaN,NaN,NaN,NaN,0.0,3.51,10.0,-3.333537,1874.853819,393,26.0,-7.109535,177.64933
3401,Tuvalu,2004,95.415160,25.30,0.00,NaN,NaN,NaN,NaN,0.0,3.44,10.0,-1.352181,2181.636269,393,26.0,-7.109535,177.64933
3402,Tuvalu,2005,95.604070,28.20,0.00,NaN,NaN,NaN,NaN,0.0,3.57,10.0,-3.779730,2184.565259,393,26.0,-7.109535,177.64933
3403,Tuvalu,2006,95.794846,31.40,0.00,NaN,NaN,NaN,NaN,0.0,4.67,10.0,2.138938,2263.575948,393,26.0,-7.109535,177.64933
3404,Tuvalu,2007,96.700000,35.80,0.00,NaN,NaN,NaN,NaN,0.0,5.23,10.0,6.350565,2645.109505,393,26.0,-7.109535,177.64933
3405,Tuvalu,2008,96.192680,40.90,0.00,NaN,NaN,NaN,NaN,0.0,3.50,10.0,7.983261,2936.521547,393,26.0,-7.109535,177.64933
3406,Tuvalu,2009,96.405150,44.65,0.00,NaN,NaN,NaN,NaN,0.0,4.13,10.0,-4.432851,2602.619444,393,26.0,-7.109535,177.64933
3407,Tuvalu,2010,96.630270,48.55,0.26,NaN,NaN,NaN,NaN,0.0,3.88,10.0,-2.729428,3024.761774,393,26.0,-7.109535,177.64933
3408,Tuvalu,2011,96.870750,52.90,0.26,NaN,NaN,NaN,NaN,0.0,3.84,10.0,7.515954,3643.121608,393,26.0,-7.109535,177.64933
3409,Tuvalu,2012,97.671776,56.60,0.31,NaN,NaN,NaN,NaN,0.0,3.75,10.0,-3.835749,3506.308144,393,26.0,-7.109535,177.64933
3410,Tuvalu,2013,97.407680,59.50,0.83,NaN,NaN,NaN,NaN,0.0,3.26,10.0,4.576824,3457.376266,393,26.0,-7.109535,177.64933
3411,Tuvalu,2014,97.703860,62.40,0.80,NaN,NaN,NaN,NaN,0.0,3.10,10.0,1.348013,3398.396750,393,26.0,-7.109535,177.64933
3412,Tuvalu,2015,98.014885,64.20,3.88,NaN,NaN,NaN,NaN,0.0,2.64,10.0,9.142894,3197.772252,393,26.0,-7.109535,177.64933
3413,Tuvalu,2016,97.300000,65.50,9.46,NaN,NaN,NaN,NaN,0.0,2.56,10.0,3.034723,3253.899536,393,26.0,-7.109535,177.64933
3414,Tuvalu,2017,98.853836,67.55,8.74,NaN,NaN,NaN,NaN,0.0,2.55,10.0,4.094018,3574.065288,393,26.0,-7.109535,177.64933
3415,Tuvalu,2018,99.065384,68.90,8.32,NaN,NaN,NaN,NaN,0.0,2.86,10.0,2.500000,3701.709255,393,26.0,-7.109535,177.64933
3416,Tuvalu,2019,99.700000,69.80,8.20,NaN,NaN,NaN,NaN,0.0,2.61,10.0,9.756098,4055.895610,393,26.0,-7.109535,177.64933
3417,Tuvalu,2020,99.689230,70.60,95.01,NaN,NaN,NaN,NaN,0.0,13.37,1300.0,4.400000,4143.109753,393,26.0,-7.109535,177.64933

In [14]:
# Since the null values in the electricity_from_nuclear column correspond to only Chile, Indonesia, and Tuvalu, 
# we can interpret this as the country not generating electricity from nuclear 
# but relying on other energy sources. 
# or there is no data from the country
# So, we leave it as NULL

df[df["electricity_from_nuclear"].isnull()]

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,low_carbon_electricity_percentage,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
693,Chile,2000,97.938690,100.00,31.36,20.42,NaN,18.48,47.506424,20023.135,4.39,50420.00000,5.326938,5074.902616,26,756096.0,-35.675147,-71.542969
694,Chile,2001,97.115810,100.00,32.15,19.59,NaN,21.03,51.772526,20184.580,4.17,48430.00000,3.303047,4574.594716,26,756096.0,-35.675147,-71.542969
695,Chile,2002,97.283680,100.00,33.07,19.87,NaN,22.50,53.103610,20441.285,4.19,49119.99893,3.106971,4446.249371,26,756096.0,-35.675147,-71.542969
696,Chile,2003,98.782326,100.00,31.62,23.30,NaN,21.84,48.382810,20334.662,4.07,50200.00076,4.091048,4772.563723,26,756096.0,-35.675147,-71.542969
697,Chile,2004,97.606090,100.00,31.44,27.79,NaN,20.87,42.889440,21494.553,4.04,54970.00122,7.209540,6194.852720,26,756096.0,-35.675147,-71.542969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3413,Tuvalu,2016,97.300000,65.50,9.46,NaN,NaN,NaN,NaN,0.000,2.56,10.00000,3.034723,3253.899536,393,26.0,-7.109535,177.649330
3414,Tuvalu,2017,98.853836,67.55,8.74,NaN,NaN,NaN,NaN,0.000,2.55,10.00000,4.094018,3574.065288,393,26.0,-7.109535,177.649330
3415,Tuvalu,2018,99.065384,68.90,8.32,NaN,NaN,NaN,NaN,0.000,2.86,10.00000,2.500000,3701.709255,393,26.0,-7.109535,177.649330
3416,Tuvalu,2019,99.700000,69.80,8.20,NaN,NaN,NaN,NaN,0.000,2.61,10.00000,9.756098,4055.895610,393,26.0,-7.109535,177.649330
3417,Tuvalu,2020,99.689230,70.60,95.01,NaN,NaN,NaN,NaN,0.000,13.37,1300.00000,4.400000,4143.109753,393,26.0,-7.109535,177.649330

In [15]:
# Since the null values in the electricity_from_fuels column correspond to Tuvalu, 
# we can interpret this as the country not generating electricity from fuels 
# but relying on other energy sources. 
# or there is no data from the country
# So, we leave it as NULL

df[df["electricity_from_fuels"].isnull()]

,country,year,access_to_electricity,access_to_clean_fuels_for_cooking,renewable_energy_consumption_percentage,electricity_from_fuels,electricity_from_nuclear,electricity_from_renewables,low_carbon_electricity_percentage,energy_consumption_per_person,energy_intensity,co2_emissions_per_person,gdp_growth,gdp_per_capita,population_density,land_area,latitude,longitude
3397,Tuvalu,2000,94.630680,16.10,0.00,NaN,NaN,NaN,NaN,0.0,3.46,10.0,-0.970600,1463.166211,393,26.0,-7.109535,177.64933
3398,Tuvalu,2001,94.835820,17.75,0.00,NaN,NaN,NaN,NaN,0.0,4.19,10.0,1.634108,1392.334348,393,26.0,-7.109535,177.64933
3399,Tuvalu,2002,94.629780,19.80,0.00,NaN,NaN,NaN,NaN,0.0,3.64,10.0,7.886174,1610.653001,393,26.0,-7.109535,177.64933
3400,Tuvalu,2003,95.225716,22.40,0.00,NaN,NaN,NaN,NaN,0.0,3.51,10.0,-3.333537,1874.853819,393,26.0,-7.109535,177.64933
3401,Tuvalu,2004,95.415160,25.30,0.00,NaN,NaN,NaN,NaN,0.0,3.44,10.0,-1.352181,2181.636269,393,26.0,-7.109535,177.64933
3402,Tuvalu,2005,95.604070,28.20,0.00,NaN,NaN,NaN,NaN,0.0,3.57,10.0,-3.779730,2184.565259,393,26.0,-7.109535,177.64933
3403,Tuvalu,2006,95.794846,31.40,0.00,NaN,NaN,NaN,NaN,0.0,4.67,10.0,2.138938,2263.575948,393,26.0,-7.109535,177.64933
3404,Tuvalu,2007,96.700000,35.80,0.00,NaN,NaN,NaN,NaN,0.0,5.23,10.0,6.350565,2645.109505,393,26.0,-7.109535,177.64933
3405,Tuvalu,2008,96.192680,40.90,0.00,NaN,NaN,NaN,NaN,0.0,3.50,10.0,7.983261,2936.521547,393,26.0,-7.109535,177.64933
3406,Tuvalu,2009,96.405150,44.65,0.00,NaN,NaN,NaN,NaN,0.0,4.13,10.0,-4.432851,2602.619444,393,26.0,-7.109535,177.64933
3407,Tuvalu,2010,96.630270,48.55,0.26,NaN,NaN,NaN,NaN,0.0,3.88,10.0,-2.729428,3024.761774,393,26.0,-7.109535,177.64933
3408,Tuvalu,2011,96.870750,52.90,0.26,NaN,NaN,NaN,NaN,0.0,3.84,10.0,7.515954,3643.121608,393,26.0,-7.109535,177.64933
3409,Tuvalu,2012,97.671776,56.60,0.31,NaN,NaN,NaN,NaN,0.0,3.75,10.0,-3.835749,3506.308144,393,26.0,-7.109535,177.64933
3410,Tuvalu,2013,97.407680,59.50,0.83,NaN,NaN,NaN,NaN,0.0,3.26,10.0,4.576824,3457.376266,393,26.0,-7.109535,177.64933
3411,Tuvalu,2014,97.703860,62.40,0.80,NaN,NaN,NaN,NaN,0.0,3.10,10.0,1.348013,3398.396750,393,26.0,-7.109535,177.64933
3412,Tuvalu,2015,98.014885,64.20,3.88,NaN,NaN,NaN,NaN,0.0,2.64,10.0,9.142894,3197.772252,393,26.0,-7.109535,177.64933
3413,Tuvalu,2016,97.300000,65.50,9.46,NaN,NaN,NaN,NaN,0.0,2.56,10.0,3.034723,3253.899536,393,26.0,-7.109535,177.64933
3414,Tuvalu,2017,98.853836,67.55,8.74,NaN,NaN,NaN,NaN,0.0,2.55,10.0,4.094018,3574.065288,393,26.0,-7.109535,177.64933
3415,Tuvalu,2018,99.065384,68.90,8.32,NaN,NaN,NaN,NaN,0.0,2.86,10.0,2.500000,3701.709255,393,26.0,-7.109535,177.64933
3416,Tuvalu,2019,99.700000,69.80,8.20,NaN,NaN,NaN,NaN,0.0,2.61,10.0,9.756098,4055.895610,393,26.0,-7.109535,177.64933
3417,Tuvalu,2020,99.689230,70.60,95.01,NaN,NaN,NaN,NaN,0.0,13.37,1300.0,4.400000,4143.109753,393,26.0,-7.109535,177.64933

In [16]:
df.to_csv("data/processed_data.csv", index=False)